@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";
@import "nativewind/theme";

@theme {
  --color-ink: #121212;
  --color-paper: #f3f2ee;
  --color-cobalt: #2747f5;
  --color-lime: #c6f432;
  --color-graphite: #5e5d58;
}
